body{
    background-image: url(../assets/dog.png);
    margin-top: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
header{
    height: 50px;
    box-shadow: none;
}

button {
    margin: 10px;
    width: 10rem;
    height: 3rem;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

table {
    border: solid 1px black;
    width: 50%;
    margin: 25px;
    max-width: 50%;
}

thead {
    font-size: 1.25rem;
    font-weight: 400;
    background-color: #D0D38F;
}

tr:not(:last-child) {
    font-size: 1.25rem;
    font-weight: 400;
    background-color: #9CAFB7;
}

 td:first-child {
    display: flex;
    justify-content: center;
}

td:last-child {
    display: flex;
    justify-content: center;
}

 tr {
    background-color: #F6CA83;
}
